svg {font: 12px sans-serif;
     text-anchor: middle;
     }
    
rect {stroke: lightgray;
      stoke-width: 5px;
      fill: white;
      }

.y.axis path {fill: none;
              stroke: none;
              }