body { 
  margin: 0;
  display: flex;
  height: 100vh;
  font-family: system-ui, sans-serif;
  }
  
#plot {
  flex: 3;
  }
  
#controls {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 12px;
  box-sizing: border-box;
  background:#f7f7f7;
  overflow-y:auto;
  }
 
.formula {
  font-size: 0.7em;
  font-weight: 700;
  margin: 4px 0;
  font-family: ui-monospace, SFMono-Regular, Menlo, monospace;
  }
  
.buttons {
  display:flex;
  gap:8px;
  margin: 10px 0;
  }
  
button {
  flex:1;
  padding:8px 10px;
  border-radius:8px;
  border:1px solid #ccc;
  background:#eee;
  cursor:pointer;
  }
  
button:hover {
  background:#e2e2e2;
  }
  
.slider-row {
  margin: 8px 0;
  }
  
.slider-row label {
  display:block;
  font-size: 12px;
  margin-bottom: 4px;
  }
  
.slider-row input[type=range] {
  width: 100%;
  }

#snid-buttons {
  display:flex;
  flex-wrap:wrap;
  gap:6px;
  margin-top:10px;
  }
  
 #save-buttons {
  display:flex;
  flex-wrap:wrap;
  gap:6px;
  margin-top:10px;
  }
 
.snid-btn {
  padding:6px 10px; border:1px solid #ccc; border-radius:8px;
  background:#3b82f6; color:#fff; cursor:pointer;
  }
  
.snid-btn.active {
  background:#16a34a; border-color:#0ea34a;
  }
  
.save-btn {
  padding:6px 10px; border:1px solid #ccc; border-radius:8px;
  background:red; color:#fff; cursor:pointer;
  }
  
.save-btn.active {
  background:#16a34a; border-color:#0ea34a;
  }
  
.preset-btn {
  padding:6px 10px; border:1px solid #ccc; border-radius:8px;
  background:green; color:#fff; cursor:pointer;
  }
  
.preset-btn.active {
  background:#16a34a; border-color:#0ea34a;
  }
  
.del-btn {
  padding:6px 10px; border:1px solid #ccc; border-radius:8px;
  background:grey; color:#fff; cursor:pointer;
  }
  
.del-btn.active {
  background:#16a34a; border-color:#0ea34a;
  }



