[Unit]
Description=Fink Browser
After=network.target

[Service]
Type=simple
User=jetty
Group=jetty
WorkingDirectory=/localhome/janusgraph/Lomikel/run
ExecStart=/localhome/janusgraph/Lomikel/src/sh/service/finkbrowser.sh
Restart=always
RestartSec=5
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target


