* {
  #font-family:Verdana, Arial, sans-serif;
  font-size:10px;
  #font-weight:normal;
  }
  
body {
  font-size:10px;
  #font-weight:normal;
  }
  
h1 {
  font-size:16px;
  font-weight:bold;
  }

h2 {
  font-size:14px;
  font-weight:bold;
  }

h3 {
  font-size:12px;
  font-weight:bold;
  }

.help {
  line-height: 12px;
  width: 18px;
  font-size: 8pt;
  font-family: tahoma;
  margin-top: 1px;
  margin-right: 2px;
  position:absolute;
  top:0;
  right:0;
  }

.w2ui-tabs .w2ui-tab {
  color: #AAAAFF;
  background-color: #FFFFFF;
  border: 1px solid #AAAAFF;
  border-bottom: 1px solid transparent;
  }
 
.w2ui-tabs .w2ui-tab.active {
  color: #FFFFFF;
  background-color: #AAAAFF;
  border: 1px solid #FFFFFF;
  border-bottom: 1px solid transparent;
  }  